/* --- 01 TYPOGRAPHY SYSTEM

--Font sizes (px):
10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98

--- 16px === 1 rem

-- Font weights
Default: 400
Medium:500
semi-bold: 600
Bold: 700

-- Line heights
Default: 1
small: 1.05
Medium: 1.2
paragraph default: 1.6

-- Letter spacing
-0.5px
0.75px */

/* -- effects

face
slide
push
zoom in 
zoom out
flip */

/* ROOT PAGE */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  /* font-size: 10px; */
  /* 10px/16px = 0.625 */
  font-size: 62.5%;
  overflow-x: hidden;
  /* Does not worl on Safari */
  scroll-behavior: smooth;
}

body {
  font-family: "Encode Sans Condensed", sans-serif;
  line-height: 1;
  font-weight: 400;
  color: #333232;
  overflow-x: hidden;
  --bkg: #5eb3fd;
  --white: #e7e6e6;
}

/* HEADER */

.hero-Header {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.hero-Section {
  height: 100vh;
  background-color: #d9d9d9;
  border-bottom: 4px solid #000;
}

/* NAV BAR */

.firstContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.innerContainer {
  max-width: 1440px;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.mainHeader {
  height: 15vh;
  /* width: 100%; */
  display: flex;
  align-items: center;
  font-size: 1.5rem;
  font-weight: 600;
  padding: 0 5rem;
}

.mainHeader h2 {
  font-size: 3rem;
  font-weight: 700;
}

.mainNav {
  display: flex;
  gap: 12rem;
}
.mainNav li {
  display: inline-block;
  text-decoration: none;
  font-size: 2rem;
  font-weight: 400;
}

.navHeader {
  margin-left: auto;
}

.line {
  display: inline-block;
  height: 3px;
  width: 100%;
  background-color: black;
  align-self: center;
  /* transition: all 7s; */
}

.hovered {
  background: linear-gradient(to right, lightgrey, black);
}

.titleTrf {
  transform: scale(1.1);
  transform: rotate(-5deg);
  background: linear-gradient(to right, lightgrey, #999);
}

.nav-links {
  text-decoration: none;
  color: #333232;
  font-weight: 500;
}

.nav-links-active {
  background-color: red;
}
.navChange {
  color: #fff;
  font-weight: 700;
  font-size: 2.5rem;
  text-shadow: 1px 1px 2px black, 0 0 25px #444, 0 0 5px #222;
}

/* INNER SECTION */

.inner-Section {
  width: 100%;
  height: 85vh;
  display: flex;
  justify-content: center;
}

.inner-container {
  max-width: 1440px;
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.information-Header {
  padding: 5rem 8rem;
  display: flex;
  gap: 12rem;
  flex-direction: column;
  justify-self: center;
  align-self: center;
}

.gallery-item img {
  display: block;
  width: 46rem;
  height: 37rem;
  /* grid-row: 1/4;
  grid-column: 2/3; */
  border-radius: 100%;

  opacity: 0.7;

  transition: all 0.4s;
}

.gallery-item img:hover {
  transform: scale(1.1);
}

.gallery-item {
  /* overflow: hidden; */
  justify-self: center;
  align-self: center;
  /* border-style: 2px solid black; */
}

.img-inner-container{
display: flex;
flex-direction: column;
justify-content: center;
gap: 2rem;
}
/* .hero-Header {
  justify-self: center;
  align-self: center;
} */

.hero-Header h1 {
  font-size: 6rem;
  margin-bottom: 1rem;
}

.hero-Header h3 {
  font-size: 2rem;
  color: #444;
  font-weight: 500;
}

.hero-Header h2 {
  font-size: 3rem;
  color: #444;
  font-weight: 600;
}

.footer-Hero h3 {
  font-size: 2rem;
  margin-bottom: 3px;
}
.footer-Hero a {
  font-size: 1.3rem;
  text-decoration: none;
  color: #000;
}

/* About */

/* .brief-Container{
  display: flex;
  height: 100vh;
  width: 100vw;
 
  text-align: center;
  padding: 7rem 7rem;
  justify-content: center;
} */

.about-Container {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100%;
  font-size: 3.25rem;
  border-bottom: 4px solid #ecbf08;
}

.bg-image {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-image: url("/public/Hombre-mirando-pc.jpg");
  height: 100%;
  width: 100%;
  background-size: 100% 100%;
  transition: all 2s ease-in-out;
}

.bg-image.enter {
  filter: blur(8px) contrast(180%);
}

.inner-about-container {
  display: flex;
  position: relative;
  align-content: center;
  justify-content: space-between;
  height: 100%;
  max-width: 1440px;
  width: 100%;
  padding: 10% 7rem;
}

.brief-Container {
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.7); /* Black w/opacity/see-through */
  color: white;
  border: 3px solid #f1f1f1;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  width: 80%;
  padding: 40px;
  text-align: left;
  line-height: 1.4em;
  letter-spacing: 0.04em;
}

.point {
  width: 0px;
  height: 0px;
  background-image: linear-gradient(
    to bottom,
    red,
    orange,
    yellow,
    green,
    blue,
    indigo,
    violet
  );
  border-radius: 3px;
  transition: all 4s ease-out;
  align-self: flex-start;
}

.point.enter {
  width: 6px;
  height: 100%;
}

/* SKILL PAGE */

.skills-Container {
  position: relative;
  width: 100%;
  height: 100vh;
  background-color: #dddddd;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 4px solid #ecbf08;
}

.inner-skills-container {
  max-width: 1440px;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  padding: 12rem 5rem;
  gap: 10rem;
}

.abilities-Container {
  display: flex;
  font-size: 3rem;
  color: #fff;
  font-weight: 600;
  justify-content: space-around;
  /* gap: 35rem; */
  height: 100%;
  z-index: 2;
}

.abilities-Container ul {
  display: flex;
  position: relative;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  list-style: none;
  color: #fff;
  font-weight: 400;
  padding: 20px;
}

.abilities-Container ul::after {
  content: '';
  position: absolute;
  background-color: rgba(236, 191, 8, 0.1);
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
}

.abilities-Container ul li{
  position: relative;
  width: 100%;
  text-align: center;
  color: #fff;
}

.abilities-Container ul li::before {
  content: '';
  position: absolute;
  border-color:rgb(236, 191, 8);
  border-style: solid;
  border-width: 0 0.3em 0.25em 0;
  height: 1em;
  top: 0.8em;
  left: 75px;
  margin-top: -1em;
  transform: rotate(45deg);
  width: 0.5em;
}


.main-Icons {
  display: flex;
  justify-content: center;
  gap: 5rem;
  color: #fff;
}
.title-skills {
  transition: 4s all;
  color: #fff;
  letter-spacing: 0.20em;
  z-index: 2;
  
}
.title-skills.initiate {
  /* position: relative; */
  transform: translate(60%) scale(1.5);
  color: rgb(236, 191, 8);
  letter-spacing: 0.05em;
  font-family: Consolas, monospace;
}

.myVideo {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  min-width: 100%;
  min-height: 100%;
  filter: blur(5px);
}
/* PROJECTS */

.projects-Cointainer {
  display: flex;
  justify-content: center;
  width: 100%;
  /* height: 100vh; */
  background-image: url("/public/mesh-gradient.png");
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
 

}

.inner-Container{
  display: flex;
  flex-direction: column;
  max-width: 1440px;
  width: 100%;
  gap: 4rem;
  padding: 10rem;
}

.project-MainTitle {
  font-size: 4rem;
  color: #fff;
}

.tecnologies-List {
  display: flex;
  gap: 2rem;
  font-size: 3rem;
  font-weight: 500;
  list-style: none;
  color: #ddd;
}

.card {
  border: 1px solid #ccc;
  border-radius: 4rem;
  overflow: hidden;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: all 1s;
  width: 55rem;
  background-color: #444;
}



.card.NETFLIX.CLONE:hover {
  box-shadow: 0 8px 16px 0 rgb(220, 38, 38);
  transform: scale(1, 1);
}

.card.OMNIFOOD:hover {
  box-shadow: 0 8px 16px 0 #e67e22;
  transform: scale(1, 1);
}
.card.GIFEXPERTAPP:hover {
  box-shadow: 0 8px 16px 0 #fff468;
  transform: scale(1, 1);
}
.card.DOGSAPP:hover {
  box-shadow: 0 8px 16px 0 #5a8c3c;
  transform: scale(1, 1);
}
.card.COFEESTORE:hover {
  box-shadow: 0 8px 16px 0 #4f46e5;
  transform: scale(1, 1);
}
.card.ATRAMENTUM:hover {
  box-shadow: 0 8px 16px 0 tan;
  transform: scale(1, 1);
}

.card-image {
  width: 100%;
  height: 25rem;
  object-fit: cover;
}

.card-content {
  padding: 16px;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.card-title {
  /* padding: 5rem; */
}

.card-text {
  align-self: flex-end;
  color: #fff;
  font-size: 2rem;
  font-weight: 700;
  text-decoration: none;
  transition: 1s all ease-in;
}

a[name="NETFLIX CLONE"]:hover {
  color: #e67e22;
  transform: scale(1.1);
}

a[name="OMNIFOOD"]:hover {
  color: #e67e22;
  transform: scale(1.1);
}

a[name="GIFEXPERTAPP"]:hover {
  color: #fff468;
  transform: scale(1.1);
}
a[name="DOGSAPP"]:hover {
  color: #5a8c3c;
  transform: scale(1.1);
}
a[name="COFEESTORE"]:hover {
  color: #4f46e5;
  transform: scale(1.1);
}
a[name="ATRAMENTUM"]:hover {
  color: tan;
  transform: scale(1.1);
}

.project-Description {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  row-gap: 4rem;
  place-items: center;
}

.main-title-container {
  width: 100%;
  height: 100%;
  display: grid;
  place-items: center;
  overflow: hidden;
  row-gap: 12rem;
}

/* .title {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
} */
.project-MainTitle h1 {
  font-size: 25vmin;
  font-weight: 900;
  font-family: "Montserrat", sans-serif;
  color: black;
}

.ghost {
  width: 8vmin;
  height: 12vmin;
  background-color: var(--white);
  background-image: url("https://www.transparenttextures.com/patterns/concrete-wall.png");
  background-image: radial-gradient(ellipse at 35% 40%, #000 8%, transparent 0%),
    radial-gradient(ellipse at 65% 40%, #000 8%, transparent 0%),
    radial-gradient(ellipse at 50% 60%, #000 8%, transparent 0%);
  border-radius: 100% / 70% 70% 0% 0%;
  transform: translateX(100em) rotateZ(-90deg);
  position: relative;
  opacity: 0.9;
  mix-blend-mode: exclusion;
  animation: ghostMove 4s ease-out infinite;
}
@keyframes ghostMove {
  0% {
    transform: translateX(30em) rotateZ(-90deg);
  }
  100% {
    transform: translateX(-35em) rotateZ(-90deg);
  }
}
.ghost div {
  position: absolute;
  width: 20%;
  background-color: var(--white);
  background-image: url("https://www.transparenttextures.com/patterns/concrete-wall.png");
}
.ghost div:nth-of-type(1) {
  height: 7vmin;
  left: 0;
  bottom: -6vmin;
  border-radius: 100% / 0% 0% 50% 50%;
}
.ghost div:nth-of-type(2),
.ghost div:nth-of-type(4) {
  height: 4vmin;
  left: 20%;
  bottom: -3vmin;
  border-radius: 100% / 50% 50% 0% 0%;
  background-color: transparent;
}
.ghost div:nth-of-type(3) {
  height: 4vmin;
  left: 40%;
  bottom: -3.95vmin;
  border-radius: 100% / 0% 0% 60% 60%;
  background-color: var(--white);
}
.ghost div:nth-of-type(4) {
  left: 60%;
}
.ghost div:nth-of-type(5) {
  height: 3vmin;
  left: 80%;
  bottom: -2.9vmin;
  border-radius: 100% / 0% 0% 70% 70%;
  background-color: var(--white);
}

/*contact*/

.contact-container {
  width: 100vw;
  /* height: 100vh; */
  background-color: #1f1f1f;
  padding: 6rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8rem;
}

.contact-container h2 {
  font-size: 10rem;
  font-weight: 400;
  line-height: 18.2rem;
  color: azure;
  text-transform: uppercase;

  /* text-align: center; */
}
.contact-container h2:hover {
  color: white;
  text-shadow: 1px 1px 2px black, 0 0 25px blue, 0 0 5px darkblue;
}

/* .contact-container:hover  .encourage-message {
  font-size: 6rem;
} */

.myinformation h2 {
  color: azure;
  font-size: 7rem;
  font-weight: 300;
}

.contactme-container {
  display: flex;
  align-items: center;
  /* justify-content: space-around; */
  gap: 34rem;
}

.encourage-message {
  font-size: 5rem;
  color: #fff;
  line-height: 1.3em;
}
.social-logos {
  display: flex;
  gap: 20rem;
  align-items: center;
}

.social-logos-header {
  display: flex;
  gap: 5rem;
  justify-content: center;
  align-items: center;
}

.social-logos-header ion-icon {
  font-size: 5rem;
  color:#999;
}


.social-logos ion-icon {
  font-size: 20rem;
  color: cadetblue;
}

.social-logos ion-icon:hover {
  color: darkmagenta;
}
